@font-face {
    font-family: Righteous;
    src: url('../../fonts/Righteous/Righteous-Regular.ttf');
}

@font-face {
    font-family: Sniglet;
    src: url('../../fonts/Sniglet/Sniglet-Regular.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('../../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('../../fonts/Poppins/Poppins-Bold.ttf');
}
